@{
    ViewBag.Title = "GetChildContent";
}

<h2>Child Content</h2>
<p>This is the child :) which has come from a different controller. This page could be located in a separate domain if required.</p>